#Title{
    display: flex;
    justify-content: center;
    width: 30vw;
}

#headBar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(64, 255, 230,.6);
    align-items: center;
    height:8vh;
    position:sticky;
}

#links{
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
    padding-right:10vw
}
body{
    margin:0;
    background-image: url('https://i.pinimg.com/originals/9c/16/a0/9c16a004072f9bb08ee5cba2541932a9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.hlinks{
    color:rgb(98, 81, 252)
}
.hlink:hover{
color:rgb(255, 124, 92)
}

#formBox {
    display: flex;
    flex-direction: column;
    background-color: seashell;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    position: relative;
    top:10vh;
}

#signUp{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.inputField{
    margin: 10px;
}
#detailsBox{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color:rgb(32, 90, 30,.8);
    color: seashell;
    border-radius: 15px;
    margin:10px
}
.detail{
    margin:0px 20px 0px 20px;
    font-weight:bold;
    font-size: 17px;
}
section{
    display: flex;
    justify-content: space-around;
}
